In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

ccdb = pd.read_csv("UCI_Credit_Card.csv")

In [2]:
ccdb.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [3]:
ccdb.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
ID,30000.0,15000.500000,8660.398374,1.0,7500.75,15000.5,22500.25,30000.0
LIMIT_BAL,30000.0,167484.322667,129747.661567,10000.0,50000.00,140000.0,240000.00,1000000.0
SEX,30000.0,1.603733,0.489129,1.0,1.00,2.0,2.00,2.0
EDUCATION,30000.0,1.853133,0.790349,0.0,1.00,2.0,2.00,6.0
MARRIAGE,30000.0,1.551867,0.521970,0.0,1.00,2.0,2.00,3.0
AGE,30000.0,35.485500,9.217904,21.0,28.00,34.0,41.00,79.0
PAY_0,30000.0,-0.016700,1.123802,-2.0,-1.00,0.0,0.00,8.0
PAY_2,30000.0,-0.133767,1.197186,-2.0,-1.00,0.0,0.00,8.0
PAY_3,30000.0,-0.166200,1.196868,-2.0,-1.00,0.0,0.00,8.0
PAY_4,30000.0,-0.220667,1.169139,-2.0,-1.00,0.0,0.00,8.0
PAY_5,30000.0,-0.266200,1.133187,-2.0,-1.00,0.0,0.00,8.0
PAY_6,30000.0,-0.291100,1.149988,-2.0,-1.00,0.0,0.00,8.0
BILL_AMT1,30000.0,51223.330900,73635.860576,-165580.0,3558.75,22381.5,67091.00,964511.0
BILL_AMT2,30000.0,49179.075167,71173.768783,-69777.0,2984.75,21200.0,64006.25,983931.0
BILL_AMT3,30000.0,47013.154800,69349.387427,-157264.0,2666.25,20088.5,60164.75,1664089.0
BILL_AMT4,30000.0,43262.948967,64332.856134,-170000.0,2326.75,19052.0,54506.00,891586.0
BILL_AMT5,30000.0,40311.400967,60797.155770,-81334.0,1763.00,18104.5,50190.50,927171.0
BILL_AMT6,30000.0,38871.760400,59554.107537,-339603.0,1256.00,17071.0,49198.25,961664.0
PAY_AMT1,30000.0,5663.580500,16563.280354,0.0,1000.00,2100.0,5006.00,873552.0
PAY_AMT2,30000.0,5921.163500,23040.870402,0.0,833.00,2009.0,5000.00,1684259.0
PAY_AMT3,30000.0,5225.681500,17606.961470,0.0,390.00,1800.0,4505.00,896040.0
PAY_AMT4,30000.0,4826.076867,15666.159744,0.0,296.00,1500.0,4013.25,621000.0
PAY_AMT5,30000.0,4799.387633,15278.305679,0.0,252.50,1500.0,4031.50,426529.0
PAY_AMT6,30000.0,5215.502567,17777.465775,0.0,117.75,1500.0,4000.00,528666.0
default.payment.next.month,30000.0,0.221200,0.415062,0.0,0.00,0.0,0.00,1.0

In [4]:
X = ccdb.drop("default.payment.next.month", axis=1)

In [5]:
y = ccdb["default.payment.next.month"]

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.25, random_state=1693)

In [7]:
scale_X = StandardScaler()
X_train = scale_X.fit_transform(X_train)
X_test = scale_X.transform(X_test)
X_train.shape

(22500, 24)

In [8]:
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import confusion_matrix

mlp = MLPClassifier(hidden_layer_sizes=(13,13,13), max_iter=500)

In [9]:
mlp.fit(X_train,y_train)
pred = mlp.predict(X_test)
pred

array([1, 0, 0, ..., 1, 0, 0])

In [10]:
nn_cm = confusion_matrix(y_test,pred)
nn_cm

array([[5518,  344],
       [1027,  611]])

In [11]:
def print_cm(cm, labels, hide_zeroes=False, hide_diagonal=False, hide_threshold=None):
    """pretty print for confusion matrixes"""
    columnwidth = max([len(x) for x in labels] + [5])  # 5 is value length
    empty_cell = " " * columnwidth
    # Print header
    print("    " + empty_cell, end=" ")
    for label in labels:
        print("%{0}s".format(columnwidth) % label, end=" ")
    print()
    # Print rows
    for i, label1 in enumerate(labels):
        print("    %{0}s".format(columnwidth) % label1, end=" ")
        for j in range(len(labels)):
            cell = "%{0}.1f".format(columnwidth) % cm[i, j]
            if hide_zeroes:
                cell = cell if float(cm[i, j]) != 0 else empty_cell
            if hide_diagonal:
                cell = cell if i != j else empty_cell
            if hide_threshold:
                cell = cell if cm[i, j] > hide_threshold else empty_cell
            print(cell, end=" ")
        print()

In [12]:
print_cm(nn_cm, ["No Default","Default"])

               No Default    Default
    No Default     5518.0      344.0
       Default     1027.0      611.0

In [13]:
updated_mlp = MLPClassifier(hidden_layer_sizes=(10,20,10), activation = "tanh", solver = "sgd",
                           batch_size = 200, learning_rate = "adaptive", max_iter = 500, verbose = True)

In [14]:
updated_mlp.fit(X_train,y_train)

Iteration 1, loss = 0.61486650
Iteration 2, loss = 0.51708497
Iteration 3, loss = 0.50269123
Iteration 4, loss = 0.49289665
Iteration 5, loss = 0.48524979
Iteration 6, loss = 0.47917679
Iteration 7, loss = 0.47431860
Iteration 8, loss = 0.47039991
Iteration 9, loss = 0.46715193
Iteration 10, loss = 0.46447591
Iteration 11, loss = 0.46222941
Iteration 12, loss = 0.46036863
Iteration 13, loss = 0.45870410
Iteration 14, loss = 0.45725163
Iteration 15, loss = 0.45595737
Iteration 16, loss = 0.45485022
Iteration 17, loss = 0.45383002
Iteration 18, loss = 0.45289985
Iteration 19, loss = 0.45205059
Iteration 20, loss = 0.45127400
Iteration 21, loss = 0.45058859
Iteration 22, loss = 0.44994411
Iteration 23, loss = 0.44939243
Iteration 24, loss = 0.44883043
Iteration 25, loss = 0.44831001
Iteration 26, loss = 0.44787746
Iteration 27, loss = 0.44742151
Iteration 28, loss = 0.44703111
Iteration 29, loss = 0.44664982
Iteration 30, loss = 0.44627573
Iteration 31, loss = 0.44595535
Iteration 32, loss = 0.44562959
Iteration 33, loss = 0.44533687
Iteration 34, loss = 0.44504387
Iteration 35, loss = 0.44477580
Iteration 36, loss = 0.44451146
Iteration 37, loss = 0.44426612
Iteration 38, loss = 0.44404540
Iteration 39, loss = 0.44380405
Iteration 40, loss = 0.44360316
Iteration 41, loss = 0.44337806
Iteration 42, loss = 0.44321558
Iteration 43, loss = 0.44301860
Iteration 44, loss = 0.44283602
Iteration 45, loss = 0.44269868
Iteration 46, loss = 0.44251658
Iteration 47, loss = 0.44233481
Iteration 48, loss = 0.44219372
Iteration 49, loss = 0.44202833
Iteration 50, loss = 0.44189459
Iteration 51, loss = 0.44175227
Iteration 52, loss = 0.44160488
Iteration 53, loss = 0.44151125
Iteration 54, loss = 0.44135468
Iteration 55, loss = 0.44122606
Iteration 56, loss = 0.44112293
Iteration 57, loss = 0.44098329
Iteration 58, loss = 0.44086210
Iteration 59, loss = 0.44075915
Iteration 60, loss = 0.44063259
Iteration 61, loss = 0.44054901
Iteration 62, loss = 0.44040591
Iteration 63, loss = 0.44031264
Iteration 64, loss = 0.44019741
Iteration 65, loss = 0.44006109
Iteration 66, loss = 0.43997609
Iteration 67, loss = 0.43983832
Iteration 68, loss = 0.43975475
Iteration 69, loss = 0.43963711
Iteration 70, loss = 0.43953911
Iteration 71, loss = 0.43947021
Iteration 72, loss = 0.43934392
Iteration 73, loss = 0.43924140
Iteration 74, loss = 0.43914780
Iteration 75, loss = 0.43905515
Iteration 76, loss = 0.43895480
Iteration 77, loss = 0.43886130
Iteration 78, loss = 0.43878883
Iteration 79, loss = 0.43868949
Training loss did not improve more than tol=0.000100 for two consecutive epochs. Setting learning rate to 0.000200
Iteration 80, loss = 0.43855240
Iteration 81, loss = 0.43852472
Iteration 82, loss = 0.43850718
Iteration 83, loss = 0.43848932
Training loss did not improve more than tol=0.000100 for two consecutive epochs. Setting learning rate to 0.000040
Iteration 84, loss = 0.43846013
Iteration 85, loss = 0.43845537
Iteration 86, loss = 0.43845351
Training loss did not improve more than tol=0.000100 for two consecutive epochs. Setting learning rate to 0.000008
Iteration 87, loss = 0.43844534
Iteration 88, loss = 0.43844480
Iteration 89, loss = 0.43844408
Training loss did not improve more than tol=0.000100 for two consecutive epochs. Setting learning rate to 0.000002
Iteration 90, loss = 0.43844286
Iteration 91, loss = 0.43844271
Iteration 92, loss = 0.43844258
Training loss did not improve more than tol=0.000100 for two consecutive epochs. Setting learning rate to 0.000000
Iteration 93, loss = 0.43844232
Iteration 94, loss = 0.43844228
Iteration 95, loss = 0.43844225
Training loss did not improve more than tol=0.000100 for two consecutive epochs. Learning rate too small. Stopping.

MLPClassifier(activation='tanh', alpha=0.0001, batch_size=200, beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(10, 20, 10), learning_rate='adaptive',
       learning_rate_init=0.001, max_iter=500, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='sgd', tol=0.0001, validation_fraction=0.1,
       verbose=True, warm_start=False)

In [15]:
pred = updated_mlp.predict(X_test)
nn_cm = confusion_matrix(y_test, pred)
print_cm(nn_cm, ["No Default","Default"])

               No Default    Default
    No Default     5513.0      349.0
       Default     1033.0      605.0